<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Authentication Success</h3>
      <% if @user.persisted? %>
        We found you in our system:<br>
        Email: <%= @user.email %><br>
        First Name: <%= @user.first_name %><br>
        Last Name: <%= @user.last_name %><br>
      <% end %>
      <p style="margin-top:10px;">
        <%= link_to "Go Home", root_path, :class => "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>
