<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Register a New User</h1>
      <p>You don't exist in our system yet. Please confirm your details:</p>
    </div>
  </div>
</div>

<%= render 'users/form' %>
